:root {
	--primary-bg: hsl(0, 0%, 98%);
	--text-color: hsl(200, 15%, 8%);
	--secondary-bg: hsl(0, 0%, 100%);
	--header-shadow: hsl(0, 0%, 52%);
	--gray-text: hsl(0, 0%, 52%);
	--box-shadow: #c0bfbf45;
	--blue-text: #161663;
}

.dark-mode {
	--primary-bg: hsl(207, 26%, 17%);
	--text-color: hsl(0, 0%, 100%);
	--gray-text: hsl(0, 0%, 100%);
	--secondary-bg: hsl(209, 23%, 22%);
	--box-shadow: #0a07236b;
	--header-shadow: #0a07236b;
	--blue-text: hsl(0, 0%, 100%);
}
