@import "../sass/components/Header.scss";
@import "../sass/components/GenericCard.scss";
@import "../sass/components/NotFound.scss";
@import "../sass/components//Loader.scss";
@import "../sass/pages/SearchPage.scss";
@import "../sass/pages/DetailsPage.scss";
@import "../sass/components/BluringImgContainer.scss";
@import "../sass/components/GenericSearch.scss";
@import "./fonts/fonts.scss";
@import "../sass/fonts/icons.scss";
@import "./variables/Colors.scss";

body {
	font-family: "Nunito-Sans";
	background-color: var(--primary-bg);
}

.generic-btn {
	border-color: var(--secondary-bg);
	background-color: var(--secondary-bg);
	color: var(--text-color);
	padding: 13px;
	border: none;
	box-shadow: 1px 1px 6px var(--box-shadow);
	outline: none;
}
.no-scroll {
	overflow: hidden !important;
	height: 100vh;
}
